[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "==2.0.19"
fastapi = "*"
fastapi-login = "*"
python-multipart = "*"

python-dotenv = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"

[scripts]
test = "python -m coverage run -m pytest -v"
coverage = "coverage report -m"
